<% include ../partials/header_partial.ejs %>



	<!-- display the parent prompt -->
	<div class="prompt">
		<h4><a href="/prompts/<%= response.promptid %>"><%= response.promptBody %></a></h4>
	</div>


	<!-- EDIT/UPDATE FORM -->
	<form action="/prompts/edit/<%= response.id %>?_method=PUT" method="POST" id="edit-response">
		<textarea name="responseBody" form="edit-response" placeholder="<%= response.responseBody %>"><%= response.responseBody %></textarea>
		<input type="submit">
	</form>



<% include ../partials/footer_partial.ejs %>