<% include ../partials/header_partial.ejs %>
	


	<!-- DISPLAY PROMPTS -->

	<!-- if there are no submitted prompts, display notice -->
	<% if (prompts.length == 0) { %>

		<div class="notice top">
			<p>No more prompts! Submit another?</p>
		</div>

	<% } %>


	<!-- for every prompt that has been submitted, construct a prompt-listitem div -->
	<% for (var i = 0; i < prompts.length; i++) { %>

		<div class="prompt-listitem">
			<h3>
				<a href="/prompts/<%= prompts[i].id %>"><%= prompts[i].promptBody %></a>

			<!-- SAVE/UNSAVE BUTTONS -->

				<!-- only execute if the user is logged in -->
				<% if (locals.login) { %>

					<%#= locals.user.savedPrompts.length %>

					<!-- if user has not saved anything to savedPrompts array yet, prompt automatically gets a save button -->
					<% if (locals.user.savedPrompts.length === 0) { %>

						<form action="/prompts/save/<%= prompts[i].id %>?_method=PUT" method="POST" id="save-prompt">

								<button>Save</button>

						</form>


					<!-- if user has saved stuff, run comparison -->
					<% } else { %>

						<% var savedAlready = false %>

						<% for (var j = 0; j < locals.user.savedPrompts.length; j++) { %>

							<% if (locals.user.savedPrompts[j].id === prompts[i].id) { %>

								<% var savedAlready = true; %>

								<% break; %>

							<% } else { %> 

								<% var savedAlready = false %>

							<% } %> <!-- closes if statement -->

						<% } %> <!-- closes for loop (j) -->


						<!-- RENDER SAVE/UNSAVE BUTTONS -->

						<%#= savedAlready %>


						<!-- if prompt has already been saved, display unsave button -->
						<% if (savedAlready === true) { %>

							<form action="/prompts/unsave/<%= prompts[i].id %>?_method=DELETE" method="POST" id="unsave-prompt">

								<button>Unsave</button>

							</form>

						<% } else { %>

							<form action="/prompts/save/<%= prompts[i].id %>?_method=PUT" method="POST" id="save-prompt">

								<button>Save</button>

							</form>

						<% } %> 


					<% } %> <!-- closes locals.user.savedPrompts.length (else) -->



				<% } %> <!-- closes if locals.login -->


			</h3>
									

		</div>

	<% } %> <!-- closes prompt for loop(i) -->




	<!-- DISPLAY NEW PROMPT FORM -->

	<!-- if the user is logged in, display the form -->
	<% if (locals.login) { %>

		<div id="newprompt-container">

			<!-- form to post new prompt-->
			<form action="/prompts/newprompt" method="POST" id="newprompt">
				<textarea form="newprompt" name="promptBody"></textarea>
				<input type="submit" value="Post">
			</form>

		</div>

	<% } %>




	<!-- NEXT/BACK LINKS -->

	<%# manipulate pageNumber to great nextPage and lastPage variables %>
	<% var nextPage = (pageNumber += 1) %>

	<% var lastPage = (pageNumber -= 2) %> 

	<div id="bottom-nav">
			
		<!-- hide back link if there are no more pages -->
		<% if (lastPage > -1) { %>

			<a href="/prompts/pages/<%= lastPage %>">
				<span class="bottom-back">Back</span>
			</a>

		<% } %>

		<!-- show next button if there are 5 prompts (maximum # per page) --> 
		<% if (prompts.length === 5) { %>

			<a href="/prompts/pages/<%= nextPage %>">
				<span class="bottom-next">Next</span>
			</a>

		<% } %>




<% include ../partials/footer_partial.ejs %>
