<% include ../partials/header_partial.ejs %>

	<!-- DISPLAY THE PROMPT -->
	<div class="prompt">

		<h3>
			<%= prompt.promptBody %>

			<!-- if user is logged in, show save button -->
			<% if (locals.login) { %>

			<!-- assume article is not saved yet -->
			<% var alreadySaved = false %>

				<!-- for every prompt in the user's saved prompts array --> 
				<% for (var i = 0; i < locals.user.savedPrompts.length; i++) { %>

					<!-- if the prompt is not already saved to the user's saved prompts array, display save button-->
					<% if (locals.user.savedPrompts[i].id === prompt.id) { %>

						<%#= locals.user.savedPrompts[i].id %>
						<%#= prompt.id %>

						<!-- toggle already saved variable -->
						<% var alreadySaved = true %>

						<!-- exit the for loop is the match is found -->
						<% break; %>

					<% } %>

				<% } %>

				<% if (alreadySaved === true) { %>

					<form action="/prompts/unsave/<%= prompt.id %>?_method=DELETE" method="POST" id="unsave-prompt">

						<button>Unsave</button>

					</form>


				<% } else { %>

					<form action="/prompts/save/<%= prompt.id %>?_method=PUT" method="POST" id="save-prompt">

						<button>Save</button>

					</form>


				<% } %>



			<% } %>

		</h3>


	</div>

	
	<!-- if the prompt does not have any responses, display notice -->
	<% if (prompt.responses.length == 0 && locals.login) { %>

		<div class="notice">
			<p>No one has responded yet. Be the first to respond!</p>
		</div> 

	<% } %>


	<!-- DISPLAY THE RESPONSES -->

	<!-- for every response that has been submitted, construct a response section -->
	<% for (var i = 0; i < prompt.responses.length; i++) { %>

		<section class="response">

			<p><%= prompt.responses[i].responseBody %></p>

			<!-- DISPLAY THE AUTHOR OF THE RESPONSE-->
			<div class="response-bottom">
				<span class="response-bottom-span">
					By <a href="/users/<%= prompt.responses[i].authorid %>"><%= prompt.responses[i].author %></a> on <%= prompt.responses[i].timestamp.toDateString() %> 
				</span>


				<!-- ICONS VIEW/EDIT/DELETE -->
				<span class="rb-edit-delete">

					<!-- if logged in user is the response's author, display the edit/delete icons -->
					<% if (prompt.responses[i].author === locals.username) { %>

						<a href="../prompts/edit/<%= prompt.responses[i].id %>" text-decoration="none"><img src="../img/pencil.png" class="edit-delete-icon"></a>

						<form action="/prompts/delete/<%= prompt.responses[i].id %>?_method=DELETE" method="POST">
							<input type="image" src="../img/trash.png" class="edit-delete-icon">
						</form>

						<%# if the logged in user has posted already, save as variable to access later %>
						<% var userPosted = true %>

						<%# save the response id of the logged in user's post %>
						<% var userResponseId = prompt.responses[i].id %>

					<% } %>

					<a href="../users/response/<%= prompt.responses[i].id %>"><img src="../img/share.png" class="edit-delete-icon"></a>

				</span>

			</div> <!-- closes response-bottom div -->

		</section> <!-- closes response section -->

	<% } %>
	


	<!-- DISPLAY NEW RESPONSE FORM -->

	<!-- if active user is logged in AND has not already posted, display the form -->
	<% if (locals.login && !userPosted) { %>

		<!-- form to post a new response -->
		<form action="/prompts/<%= prompt.id %>/newresponse" method="POST" id="post-response">
			<textarea name="responseBody" form="post-response" placeholder="<%= prompt.promptBody %>"></textarea>
			<input type="submit">
		</form>

	<% } %>

	<!-- if the user has already responded, do not allow the user to re-respond -->
	<% if (userPosted) { %>

		<div class="notice">

			<p>You have already responded to this prompt! Find a <a href="/prompts/random">random prompt,</a> <a href="/">see them all,</a> or <a href="../users/response/<%= userResponseId %>">view your response.</p>

		</div>

	<% } %>

	<% if (!locals.login) { %>

		<div class="notice">

			<p>You must <a href="/users/newaccount">create an account</a> to respond to this prompt.</p>

		</div>

	<% } %>


<% include ../partials/footer_partial.ejs %>