<% include ../partials/header_partial.ejs %>

	<!-- DISPLAY THE PROMPT -->
	<div class="prompt">
		<h3><%= prompt.promptBody %></h3>
	</div>

	
	<!-- if the prompt does not have any responses, display notice -->
	<% if (prompt.responses.length == 0) { %>

		<div class="notice">
			<p>No one has responded yet. Be the first to response to this prompt!</p>
		</div> 

	<% } %>


	<!-- DISPLAY THE RESPONSES -->

	<!-- for every response that has been submitted, construct a response section -->
	<% for (var i = 0; i < prompt.responses.length; i++) { %>

		<section class="response">

			<p><%= prompt.responses[i].responseBody %></p>

			<!-- DISPLAY THE AUTHOR OF THE RESPONSE-->
			<div class="response-bottom">
				<span class="response-bottom-span">
					By <a href="/users/<%= prompt.responses[i].authorid %>"><%= prompt.responses[i].author %></a> on <%= prompt.responses[i].timestamp.toDateString() %>
				</span>


				<!-- if logged in user is the response's author, display the edit/delete icons -->
				<% if (prompt.responses[i].author === locals.username) { %>

					<span class="rb-edit-delete">

						<a href="../prompts/edit/<%= prompt.responses[i].id %>" text-decoration="none"><img src="../img/pencil.png" class="edit-delete-icon"></a>

						<form action="/prompts/delete/<%= prompt.responses[i].id %>?_method=DELETE" method="POST">
							<input type="image" src="../img/trash.png" class="edit-delete-icon">
						</form>

					</span>

					<%# if the logged in user has posed already, save as variable to access later %>
					<% var userPosted = true %>

					<%# save the response id of the logged in user's post %>
					<% var userResponseId = prompt.responses[i].id %>

				<% } %>

			</div> <!-- closes response-bottom div -->

		</section> <!-- closes response section -->

	<% } %>
	


	<!-- DISPLAY NEW RESPONSE FORM -->

	<!-- if active user is logged in AND has not already posted, display the form -->
	<% if (locals.login && !userPosted) { %>

		<!-- form to post a new response -->
		<form action="/prompts/<%= prompt.id %>/newresponse" method="POST" id="post-response">
			<textarea name="responseBody" form="post-response" placeholder="<%= prompt.promptBody %>"></textarea>
			<input type="submit">
		</form>

	<% } %>

	<!-- if the user has already responded, do not allow the user to re-respond -->
	<% if (userPosted) { %>

		<div class="notice">

			<p>You have already responded to this prompt! Find <a href="/prompts/">another prompt,</a> <a href="/prompts">post your own,</a> or <a href="/prompts/edit/<%= userResponseId %>">edit your response.</p>

		</div>

	<% } %>


<% include ../partials/footer_partial.ejs %>