<% include ../partials/header_partial.ejs %>
	
	<!-- <div id="usershow-container"> -->

		<div class="profile-content">

			<h2><%= user.username %></h2>

			<% if (user.about == null) { %>

				<% if (user.username != locals.username) { %>

				<p><%= user.username %> hasn't written anything yet. How mysterious...</p>

				<% } %>


				<% if (user.username === locals.username) { %>

				<p>Edit your profile to let others know some stuff about you.</p>

				<% } %>

			<% } else { %>

				<p><%= user.about %></p>

			<% } %>


			<% if (user.username == locals.username) { %>

			<center> 
				
				<form action="/users/editprofile/<%= user.id %>" display="inline"><button id="profile-buttons">Update Profile</button></form>

				<form action="/users/deleteaccount/<%= user.id %>?_method=DELETE" method="POST" display="inline"><button id="profile-buttons">Delete Account</button></form>

			</center>

			<% } %>

			<!-- <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST" display="inline"><button>Delete Account</button></form> -->



		</div>




		<div class="profile-content">

			<h2>Responses</h2>

			<% if (user.responses[0] != null) { %> <!-- don't run loop if there is no array -->
				<% for (var i = 0; i < user.responses.length; i++) { %>

					<div class="profile-response">

						<span class="promptbody"><a href="/prompts/<%= user.responses[i].promptid %>" id="author"><%= user.responses[i].promptBody %></a></span>

					
							<p><%= user.responses[i].responseBody %></p>

						

							<% if (user.username == locals.username) { %>

							<span class="profile-response-bottom">


							<a href="../prompts/edit/<%= user.responses[i].id %>"><img src="../img/pencil.png" class="profile-icon"></a>
				

							<!-- <a href="../prompts/edit/<%= user.responses[i].id %>">edit</a> -->

							<form action="/users/delete/<%= user.responses[i].id %>?_method=DELETE" method="POST"><input type="image" src="../img/trash.png" class="profile-icon"></form>

							</span>

							<% } else { %>

								<span class="profile-response-spacer"></span>

							<% } %>
						

				

						<!-- <span class="edit-delete">edit delete</span> -->

					</div>

					<% } %>
				<% } else { %>

				<p><%= user.username %> has not posted anything yet. </p>


			<% } %>

		</div>


		<div class="profile-content">
			<h2>Prompts</h2>

			<!-- <div class="profile-prompt"> -->

				<% if (user.prompts[0] != null) { %> <!-- don't run loop if there is no array -->
				<% for (var i = 0; i < user.prompts.length; i++) { %>


				<div class="profile-prompt">

					<a href="/prompts/<%= user.prompts[i].id %>"><%= user.prompts[i].promptBody %></a>

				</div>


									<% } %>
				<% } else { %>

				<p><%= user.username %> has not posted anything yet. </p>


			<% } %>
			<!-- </div> -->
		</div>

	<!-- </div> --> <!-- closes usershow-container -->



	

	<footer></footer>

</div> <!-- closes content-container div -->


</div> <!-- closes super-container div -->

</body>
</html>