<% include ../partials/header_partial.ejs %>

	<!-- DISPLAY USERNAME AND BIO -->
	<div class="profile-content">

		<h2><%= user.username %></h2>

		<!-- if the user has not completed his/her about section yet-->
		<% if (user.about == null) { %>

			<!-- if the logged in user is NOT the owner of the profile... -->
			<% if (user.username != locals.username) { %>

				<p><%= user.username %> hasn't written anything yet. How mysterious...</p>

			<% } %>

			<!-- if the logged in user IS the owner of the profile... -->
			<% if (user.username === locals.username) { %>

				<p>Edit your profile to let others know some stuff about you.</p>

			<% } %>

		<!-- if the user has completed his/her about section, display the content -->
		<% } else { %>

			<p><%= user.about %></p>

		<% } %>

		<!-- USER CONTROL PANEL (EDIT/DELETE USER) -->

		<!-- if the logged in user IS the owner of the profile, show edit and delete buttons -->
		<% if (user.username == locals.username) { %>

			<center> 
				
				<form action="/users/editprofile/<%= user.id %>" display="inline">
					<button id="profile-buttons">Update Profile</button>
				</form>

				<form action="/users/deleteaccount/<%= user.id %>?_method=DELETE" method="POST" display="inline">
					<button id="profile-buttons">Delete Account</button>
				</form>

			</center>

		<% } %>

	</div> <!-- closes profile-content div -->



	<!-- DISPLAY USER'S RESPONSE -->
	<div class="profile-content">

		<h2>Responses</h2>

		<% if (user.responses[0] != null) { %> <!-- don't run loop if there are no submitted responses -->

			<!-- for every response the user has submitted, construct a response div -->
			<% for (var i = 0; i < user.responses.length; i++) { %>

				<div class="profile-response">

					<!-- display the parent prompt and link to it -->
					<span class="promptbody">
						<a href="/prompts/<%= user.responses[i].promptid %>" id="author"><%= user.responses[i].promptBody %></a>
					</span>

					<!-- display user's submitted response -->
					<p><%= user.responses[i].responseBody %></p>

					<!-- if logged in user is the owner of the profile, show edit/delete buttons -->
					<% if (user.username == locals.username) { %>

						<span class="profile-response-bottom">
							<a href="../prompts/edit/<%= user.responses[i].id %>"><img src="../img/pencil.png" class="profile-icon"></a>

							<form action="/users/delete/<%= user.responses[i].id %>?_method=DELETE" method="POST">
								<input type="image" src="../img/trash.png" class="profile-icon">
							</form>
						</span>

					<% } else { %>

						<span class="profile-response-spacer"></span> <!-- empty spacer -->

					<% } %>

				</div> <!-- closes profile-response div-->

			<% } %>

		<!-- if the user has not submitted any responses -->
		<% } else { %>

			<p><%= user.username %> has not posted any responses yet.</p>

		<% } %>

	</div> <!-- closes profile-content div-->



	<!-- DISPLAY USER'S SUBMITTED PROMPTS -->
	<div class="profile-content">

		<h2>Prompts</h2>

		<% if (user.prompts[0] != null) { %> <!-- don't run loop if there are no submitted prompts -->

			<!-- for every prompt the user has submitted, construct a prompt div -->
			<% for (var i = 0; i < user.prompts.length; i++) { %>

				<div class="profile-prompt">

					<!-- display prompt and link to it -->
					<a href="/prompts/<%= user.prompts[i].id %>"><%= user.prompts[i].promptBody %></a>

				</div><!-- closes profile-prompt div-->


			<% } %>

		<!-- if the user has not submitted any prompts -->
		<% } else { %>

			<p><%= user.username %> has not submitted any prompts yet.</p>

		<% } %>
		
	</div> <!-- closes profile-content div-->



	

<% include ../partials/footer_partial.ejs %>